@charset "utf-8";
@import "compass";

@import "http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic";

$blue: #306e73;
$dark: #424242;

$mainWidth: 960px;

@import "compass/layout/sticky-footer";
@include sticky-footer(152px);

body {
	font-family:  Ubuntu, sans-serif;
	color: #424242;
	font-size: 14px;
	line-height: 20px;
	
	margin: 0px;
	
	background: #ffffff url('../img/pattern.png') repeat;
}

a {
	color: $blue;
	text-decoration: none;
	
	&:hover, &:active {
		color: $dark;
	}
}

p, ul, ol, li, figure, figcaption {
	margin: 0px;
	padding: 0px;
}

p {
	text-align: justify;
	@include hyphens;
	
	margin: 0px 0px 20px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
	line-height: 20px;
	margin: 0px;
}

h1 {
	font-size: 22px;
	line-height: 30px;
	
	font-weight: lighter;
	
	color: $blue;
	
	margin: 10px 0px 20px;
}

h2 {
	font-size: 18px;
	color: $blue;
	
	margin: 20px 0px 10px;
}

.container {
	width: $mainWidth;
	margin: 0px auto;
}

.borderBox {
	border: 6px solid #c9c9c9;
}

.columns {
	width: $mainWidth + 30px;
	@include clearfix;
	
	.column {
		width: 300px;
		margin: 0px 30px 0px 0px;
		
		float: left;
	}
}

#logo {
	color: #5e9698;
	
	text-transform: uppercase;
	line-height: 30px;
	font-size: 22px;
	font-weight: bold;
	
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
	
	margin-top: 40px;
	
	float: left;
	
	strong {
		color: #ffffff;
	}
}

nav#mainMenu {
	float: right;
	
	margin-top: 40px;
	
	a {
		color: #ffffff;
		
		display: block;
		float: left;
		
		text-transform: uppercase;
		margin-left: 30px;
		
		line-height: 30px;
		font-size: 14px;
		
		position: relative;
		
		text-shadow: 0px 0px 1px rgba(0, 0, 0, .6);
		
		overflow: hidden;
		
		&:hover, &:active {
			&:after {
				content: "";
				
				display: block;
				
				position: absolute;
				top: -1px;
				left: 10px;
				right: 10px;
				
				height: 1px;
				
				@include box-shadow(0px 0px 3px 2px rgba(0, 0, 0, .5));
			}
		}
	}
}

#eyeCatcher {
	@extend .borderBox;
	
	position: absolute;
	left: 50%;
	top: 100px;
	
	margin-left: $mainWidth / -2;
}

header {
	height: 220px;
	background: $blue url('../img/pattern.png') repeat;
	
	border-bottom: 1px solid #ffffff;
	@include box-shadow(0px 1px 0px $blue);
	
	margin: 0px 0px 190px;
}

figure {
	margin: 20px 0px;
	
	img {
		@extend .borderBox;
	}
	
	figcaption {
		font-style: italic;
		font-size: 12px;
		
		text-align: center;
		
		margin: 20px 0px 0px;
		padding: 10px 20px;
		
		background: #f3f3f3;
		
		@include border-radius(7px);
		@include box-shadow(0px 0px 3px rgba(0, 0, 0, .3));
	}
}

#footer {
	height: 102px;
	padding-top: 50px;
}

footer {
	margin: 0px 0px 0px;
	padding: 40px 0px;
	
	background: $blue url('../img/pattern.png') repeat;
	
	border-top: 1px solid #ffffff;
	@include box-shadow(0px -1px 0px $blue);
	
	color: #ffffff;
}